#header {
  position: fixed;
  height: 60px;
  width: 100%;
  transition: all 0.2s;
  z-index: 10;
  // box-shadow: 1px 3px 5px rgb(125, 125, 125,0.5);
  .navbar {
    background-color: rgba(255, 255, 255);
    .row {
      width: 100%;
      .webLogo {
        width: 50px;
        height: 50px;
        margin: -10px 20px;
      }
      ul {
        width: 100%;
        li {
          a {
            color: #000;
            text-decoration: none;
            font-size: 15px;
            transition: all 0.2s;
            &:hover {
              color: #fb4226 !important;
            }
            margin-left: 0;
            text-align: center;
          }
        }
      }
      .navRight {
        margin-left: 30px;
          .btnLogin,.btnRegister{
            margin-left: 20px;
            color: #9b9b9b;
            font-size:14px;
            display: inline-block;
            &:hover {
                color: #000!important;
            }
          }
          .btnLogin{
              border-right: 1px solid #9b9b9b;
              padding-right: 30px;
              
          }
      }
      .dropOptions{
        margin-left: 150px!important;
        .dropdown-toggle {
          background-color: #fff;
          color: #9b9b9b;
          &::after{
            margin-left: 20px
          }
        }
        .dropdown-menu {
          font-size: 13px;
          .dropdown-item{
            &:first-child {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
#header .navbar .row ul li a{
  text-align: right!important;
}
#modalInfo{
  .modal-content {
    background-color: #fff!important;
  }
}
#modalBooking{
  max-width: 900px;
  .modal-content{
    .modal-body{
      h1{
        text-align: center;
        font-size: 38px;
        letter-spacing: 5px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .allInfo__booking{
        p{
          margin-top: 30px;
          margin-bottom: 30px;
          padding: 0 100px;
        }
        .allInfo__booking__content{
          .allInfo__booking__null{
            margin: 50px 0;
            h3{
              text-align: center;
              
            }
          }
        }
      }
    }
  }
}