#listMovies {
  margin: auto;
  padding-top: 70px;
  width: 900px;
  .nav-tabs {
    border: none;
    margin-bottom: 30px;
    justify-content: center;
    .nav-item {
      .nav-link {
        border: none;
        font-size: 20px;
        color: #000;
        margin-right: 10px;
        transition: font-size 0.2s;
        &:hover {
          cursor: pointer;
          font-size: 24px;
        }
      }
      .active {
        color: #fa5238 !important;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
  .tab-content {
    .card {
      .card-header {
        width: 100%;
        height: 74%;
        padding: 0;
        position: relative;
        background-color: #fff;
        border-bottom: none!important;
        img {
          width: 100%;
          height: 300px;
        }
        .card-icon {
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 60%;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.394);
          color: #fff;
          display: none;
          svg {
            transition: all 0.2s;
            font-weight: 100;
            &:hover {
              cursor: pointer!important;
              color: #fa5238;
              opacity: 0.8;
            }
          }
        }
        &:hover {
          .card-icon {
            display: block;
          }
        }
      }
      .card-body {
        .card__button {
          background-color: #fa5238;
          padding: 7px;
          width: 100%;
          margin: 10px 0;
          border: none;
          border-radius: 5px;
          display: none;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
        &:hover {
          h6,
          p {
            display: none;
          cursor: pointer;
          }
          .card__button {
            display: block;
          }
        }
      }
    }
  }
}
