.scroll-to-top{
    position: fixed;
    bottom: 12px;
    right: 7%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#fa5238;
    color: #fff;
    z-index: 10;
}
@keyframes scrollTop {
    from {
        transform: translateY(2px);
    }
    to{
        transform: translateY(-1px);
    }
}