.carousel{
    padding-top: 60px;
    .carousel-inner{  
        .carousel-item{
            width: 100%;
            height: 640px;
            img{
                width: 100%;
                height:100%;
            }
        }
    }
    .carousel-indicators{
        li{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color:#C5C5C5;
            margin: 0 5px;
            margin-bottom: 70px;
        }
        .active{
            background-color: #fb4226;
        }
    }
    .carousel-control-prev{
        left: 0;
        .carousel-control-prev-icon{
            width: 30px;
            height: 30px;
        }
    }
    .carousel-control-next{
        right: 0;
        .carousel-control-next-icon{
            width: 30px;
            height: 30px;
        }
    }
}
